{% extends "base.html" %}

{% block content %}
<h1>About Cookbook</h1>

<p class="welcome">Donec commodo augue leo, sit amet blandit nisi fringilla quis. Phasellus venenatis nisi ultrices tellus elementum eleifend. Suspendisse id nulla eu lacus ultricies auctor ut ut risus. Proin pharetra risus eu neque rhoncus, ut faucibus sem accumsan. Duis sit amet feugiat augue, eget laoreet sem. Ut feugiat, velit id sollicitudin varius, mauris diam egestas urna, sed pellentesque felis risus fermentum neque. Praesent bibendum velit eu risus posuere, ut dignissim elit bibendum. Aenean nec nisl vitae leo iaculis pulvinar mattis sed lectus. Duis molestie eu quam vel convallis. Fusce elementum leo diam, non gravida dolor dictum vel. Vestibulum ante magna, ullamcorper eu lectus sed, gravida ultrices nulla. Fusce luctus blandit massa, accumsan venenatis lectus pulvinar non. Pellentesque malesuada nunc orci, non vulputate enim hendrerit vehicula. Mauris quis massa nisi. </p>
{% endblock %}