{% extends "base.html" %} {% block content %}

<h2>Ingredients</h2>

<p>Here you can search for ingredients to ensure we have a listing for everything you need. If you don't find your required ingredient, simply click Add Ingredient to add it to the system. Don't worry about quantities, that can be specified when adding a
    recipe.</p>

<div class="row">

    <div id="ingredients">

        <form method="POST">
            <input class="search" name="ingredient" placeholder="Search Ingredients" />
            <button class="btn right" type="button" onclick="addIngredient()">Add Ingredient</button>
        </form>
        <ul class="pagination"></ul>
        <ul class="collection list">

            {% for ingredient in ingredients %}

            <li class="collection-item">
                <p class="name">{{ ingredient['ingredientName'] }}</p>
            </li>

            {% endfor %}
        </ul>

    </div>

</div>

<script type="text/javascript">
    function addIngredient() {

        ingredient = $('.search').val();
        if ($('.collection-item').length) {
            alert('Please refine your search!');
        } else {
            //add ingredient
            $.ajax({
                url: '/addingredient',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    alert(ingredient+' added!');
                    $('.search').val('');
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                    alert('There was an error, please try again later!');
                }
            });
            
        }
        
    }
</script>

{% endblock %}